body{ font-family: 'Montserrat', sans-serif;}
.maintop{width: 100%; background: #104577; color: #fff}
								.maintop .maintop-left { float: left;}
								.maintop .widget:last-child { padding-right: 0;}
								.maintop .widget {font-size: 15px; margin-bottom: 0; display: inline-block; color: #dde2fc;}
								.top-contact-widget { line-height: initial; -webkit-transform: translateY(10px); -ms-transform: translateY(10px); transform: translateY(10px);}
								.widget:last-child { margin-bottom: 0;}
								.clearfix { zoom: 1;}
								.clearfix:before, .clearfix:after {content: ""; display: table;}
								.cargo-office-location-widget .maintop-office.active { display: block; padding-left: 10px;}
								.widget ul {margin: 18px 0px; padding: 0;}
								.widget ul li {display: inline-block; padding: 0px 20px; color:#fff}
								.cargo-office-location-widget .maintop-office li { display: inline-block; padding: 0 20px;}
								.maintop-office li i {color: #fff; padding-right: 6px; font-size: 18px;}
								
								.maintop .maintop-right { float: right; line-height: 56px}
								.text-right { text-align: right;}
								.maintop .social-links-widget a { color: #dde2fc; font-size: 15px;}
								.social-links-widget a { color: #fff; padding: 0 15px; font-size: 16px; -webkit-transition: 0.5s; transition: 0.5s;}
								
								img { max-width: 100%; height: auto;}
								/* Bottom Header*/
									.site-header { background-color: #fff; position: relative; padding: 26px 0;}
									.logo img{width: 100%;}
									
/*main content*/									
.head1{
    margin-top: 56px;
    padding: 10px 0;
	position: relative;
}
.head1 h2{font-family: 'Montserrat', sans-serif; font-size: 30px; font-weight: 700}
.head1 h2:after {
    content: "";
    position: absolute;
    width: 56px;
    height: 3px;
    top: 36%;
    left: 50%;
    background: #337ab7;
    margin-left: -25px;
}
.head1 p {
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    margin-top: 50px;
    color: #808080;
	margin-bottom:55px;
}
.mid {background: whitesmoke; padding: 35px 0;}
{
    margin-top: 11px;
    text-align: center;
}
.mid-text{margin-top:85px}
.mid-text h3{font-family: 'Montserrat', sans-serif; font-size: 25px; font-weight: 700}
.mid-text h3:after {
        content: "";
    position: absolute;
    width: 56px;
    height: 3px;
    top: 40%;
    left: 7%;
    background: #337ab7;
    margin-left: -25px;
}
.mid-text p {
    font-size: 18px;
    line-height: 27px;
    margin-top: 50px;
    color: #808080;
}
.service_item{width: 100%}
.service_item img{width: 100%;}
.service_item h3{
    font-size: 18px;
    line-height: 28px;
    font-weight: 800;
}

img {
    vertical-align: middle;
    border-style: none;
}

/*footer*/
.black-bg {
    background: #092c4c;
}
.pb-30 {
    padding-bottom: 30px;
}
.pt-70 {
    padding-top: 70px;
}
.mb-30 {
    margin-bottom: 30px;
}
.footer-widget p{ font-size: 14px;
    font-weight: normal;
    line-height: 27px;
    color: #fff;
    margin-bottom: 15px;
}
.footer-widget > h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 25px;
    color: #fff;
    /* opacity: .9; */
}
.footer-link li a {
    color: #fff;
    display: inline-block;
    font-size: 14px;
    line-height: 29px;
   
    position: relative;
}

.footer-info > li {
    color: #fff;
    font-size: 14px;
    line-height: 29px;
}
.copyright-area {
    border-top: 1px solid #444;
	    background: #18679a;
}
.copyright-text > p {
    margin: 0;
	color: #fff;
}
.footer-menu ul li {
    display: inline-block;
    margin-left: 20px;
}
.footer-menu ul li a {
    color: #fff;
}
.pb-25 {
    padding-bottom: 10px;
}
.pt-25 {
    padding-top: 25px;
}
.mid-business {background: whitesmoke; padding: 35px 0; margin-top: 11px;     text-align: center;}
.busi-mid{position: relative;}
.busi-mid h1{font-family: 'Montserrat', sans-serif; font-size: 66px; font-weight: bold}
.busi-mid h1:after {
        content: "";
    position: absolute;
    width: 56px;
    height: 3px;
    top: 120%;
    left: 50%;
    background: #337ab7;
    margin-left: -25px;
}
.search-area{    text-align: center;
    margin-top: 30px;
margin-bottom: 30px;}

.serach-selec{border: 1px solid #dfdfdf;
    height: 50px;
    padding: 13px 15px;
    width: 100%;
    color: #999;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.servide-list, .related_doc_widget, .contact-wid, .recent-post, .tags-lists {
    background: #FBFBFB;
    padding: 15px 20px;
	margin: 15px 0;
}
.servide-list h3{ font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
    color: #337ab7;}
.servide-list-drop .form-group {
    margin: 20px 0 10px;
}
.servide-list ul{padding: 3px 6px;}
.servide-list ul li {
    border-bottom: 1px solid #ddd;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
	list-style: none;
}
.servide-list ul li a {
    color: #333;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 12px 0;
    border: none;
    display: inline-block;
}
.inpage-mid-text {
    margin-top: 15px;
}
.inpage-mid-text h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
	    margin: 26px 0 13px 0;
}

.inpage-mid-text p {
    font-size: 18px;
    line-height: 27px;
    margin-top: 8px;
    color: #808080;
	    font-family: Helvetica, sans-serif;
}
.head2 {
    margin-top: 5px;
    padding: 10px 0;
    position: relative;
	margin-bottom:20px;
}
.head2 h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 700;
}
.head2 h2:after {
    content: "";
    position: absolute;
    width: 56px;
    height: 3px;
    top: 84%;
    left: 50%;
    background: #337ab7;
    margin-left: -25px;
}

.serv {
    margin-top: 5px;
    padding: 10px 0;
    position: relative;
	margin-bottom:20px;
}
.serv h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 700;
	text-align: center;
}
.serv h3:after {
    content: "";
    position: absolute;
    width: 56px;
    height: 3px;
    top: 84%;
    left: 50%;
    background: #337ab7;
    margin-left: -25px;
}
.card{padding: 15px; color:#808080}
.card-img-top {width: 100%}
.card-body h5{ width: 100%;
    font-size: 18px;
    font-weight: bold;
    background: #337ab7;
    border: #0c5696 solid 1px;
    text-align: center;
    color: white;
    padding: 13px 15px;}
.card-body {text-align: justify;}
.btn-search{
    padding: 10px;
    width: 45%;
    background: #337ab7;
    border: none;
    color: white;
    font-size: 22px;.

}



@media (min-width: 992px){
.text-lg-left {
    text-align: left!important;
}
.text-lg-right {
    text-align: right!important;
}
}





@media (max-width: 1199px){
			.site-header .navbar-toggle { display: block;}
			


}

@media (min-width: 768px){

}
        .ac-336-responsive-bf { width: 545px; height: 250px; }
        @media(max-width: 582px) { .ac-336-responsive-bf { width: 478px; height: 250px; } }
        @media(max-width: 512px) { .ac-336-responsive-bf { width: 445px; height: 250px; } }
        @media(max-width: 479px) { .ac-336-responsive-bf { width: 300px; height: 250px; } }
   
									
									
									
									
								
								/* Bottom Header*/
								
							